<nb-card class="own-scroll">
    <nb-card-header>
        
                   
            <div class="rowf">
               <div class="columnf"><img src="assets/images/directory.png"/>&nbsp;</div>
               <div class="columnf"> <h6> &nbsp;Dérniers Activités</h6></div>
               <div class="columnf rig"><img src="assets/images/more.png" [nbContextMenu]="items" /></div>
             </div>
       </nb-card-header>
       <nb-list>
        <nb-list-item>
             <article style="margin-left:10px;">
                
               
                     
                     <div ><h6>Création de cartographie</h6></div>
                 
                  
                 <div><p style="color:gray;  margin-left:16px;">Il ya 20 heures</p></div>
               </article>
         </nb-list-item>
         <nb-list-item>
            <article style="margin-left:10px;">
               
              
                    
                    <div ><h6>Création de cartographie</h6></div>
                
                 
                <div><p style="color:gray;  margin-left:16px;">Il ya 20 heures</p></div>
              </article>
        </nb-list-item>
        <nb-list-item>
            <article style="margin-left:10px;">
               
              
                    
                    <div ><h6>Création de cartographie</h6></div>
                
                 
                <div><p style="color:gray;  margin-left:16px;">Il ya 20 heures</p></div>
              </article>
        </nb-list-item>
        <nb-list-item>
            <article style="margin-left:10px;">
               
              
                    
                    <div ><h6>Création de cartographie</h6></div>
                
                 
                <div><p style="color:gray;  margin-left:16px;">Il ya 20 heures</p></div>
              </article>
        </nb-list-item>
        
         
       </nb-list>
     </nb-card>