<nb-card>
        <nb-card-header><div class="rows">
            <div class="columnt">  <h6>Processus</h6></div>
            <div class="columnic"> <img src="assets/images/creativity.png"/></div>
          </div></nb-card-header>
        
        <nb-card-body>
            <div class="chart-wrapper">
                <canvas baseChart 
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="chartType">
              </canvas>
  
              
            </div>
        </nb-card-body>
      </nb-card>