<nb-card class="own-scroll">
        <nb-card-header>
            
                       
                <div class="rowf">
                   <div class="columnf"><img src="assets/images/bombe.png"/></div>
                   <div class="columnf"> <h6>&nbsp;Risques</h6></div>
                   <div class="columnf rig"><img src="assets/images/more.png" [nbContextMenu]="items" /></div>
                 </div>
           </nb-card-header>
           <nb-list>
            <nb-list-item>
                 <article style="margin-left:10px;">
                     <p style="color:gray;  margin-left:16px;">Vincent Richard</p>
                     <div class="rowf">
                        
                         <div class="columnf"><h6>R9 - Insuffisance du volume d'eau </h6></div>
                       </div>
                     <div><label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Local</label>
                        <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Términé</label>
                        <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">17 juil 2019</label>
                    </div>
                   </article>
             </nb-list-item>
             <nb-list-item>
                    <article style="margin-left:10px;">
                        <p style="color:gray;  margin-left:16px;">Vincent Richard</p>
                        <div class="rowf">
                          
                            <div class="columnf"><h6>R9 - Insuffisance du volume d'eau </h6></div>
                          </div>
                        <div><label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Local</label>
                           <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Términé</label>
                           <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">17 juil 2019</label>
                       </div>
                      </article>
                </nb-list-item>
                <nb-list-item>
                        <article style="margin-left:10px;">
                            <p style="color:gray;  margin-left:16px;">Vincent Richard</p>
                            <div class="rowf">
                                
                                <div class="columnf"><h6>R9 - Insuffisance du volume d'eau </h6></div>
                              </div>
                            <div><label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Local</label>
                               <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Términé</label>
                               <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">17 juil 2019</label>
                           </div>
                          </article>
                    </nb-list-item>
                    <nb-list-item>
                            <article style="margin-left:10px;">
                                <p style="color:gray;  margin-left:16px;">Vincent Richard</p>
                                <div class="rowf">
                                   
                                    <div class="columnf"><h6>R9 - Insuffisance du volume d'eau </h6></div>
                                  </div>
                                <div><label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Local</label>
                                   <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Términé</label>
                                   <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">17 juil 2019</label>
                               </div>
                              </article>
                        </nb-list-item>
                        <nb-list-item>
                                <article style="margin-left:10px;">
                                    <p style="color:gray;  margin-left:16px;">Vincent Richard</p>
                                    <div class="rowf">
                                       
                                        <div class="columnf"><h6>R9 - Insuffisance du volume d'eau </h6></div>
                                      </div>
                                    <div><label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Local</label>
                                       <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">Términé</label>
                                       <label style="background-color:rgb(196, 189, 189); margin-left:16px; ">17 juil 2019</label>
                                   </div>
                                  </article>
                            </nb-list-item>
            
             
           </nb-list>
         </nb-card>